* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLOR PRIMARIO*/
/* #28dd2b */
/*  #ff5500*/
/* --background-color: #000000;
--title-color: #101018;
--button-title-color: #FFEE93;
--text-title-color: #ffffff;
--primary-color: #3E3E58;
--neck-guitar-color: #272739;
--secondary-color: #28dd2b;
--orange-color: #FFB944;
--title-font: "Roboto-Bold";
--message-font: "Roboto-Light" */


@font-face {
  font-family: "MusicalTone";
  src: url("/fonts/MusicalTone.otf") format("opentype");
}

@font-face {
  font-family: "Shockwave";
  src: url("/fonts/Shockwave.otf") format("opentype");
}

@font-face {
  font-family: "Shockwave2";
  src: url("/fonts/shockwave-2.otf") format("opentype");
}

@font-face {
  font-family: "Audiowide";
  src: url("/fonts/Audiowide-Regular.ttf");
}

:root {
  --musical-tone-font: "MusicalTone";
  --shockwave-font: "Shockwave";
  --shockwave-2-font: "Shockwave2";
  --audiowide-font: "Audiowide";
  --primary-color: rgb(1, 236, 2);
  --range-color: rgb(217, 252, 46);
  --background-color: rgb(56, 56, 78);
  /* --menu-dark-color:rgb(26, 26, 38);*/
  --menu-dark-color: rgb(101, 109, 116);

  --title-container-color: rgb(14, 14, 19);

  --menu-bar-button-color: rgb(255, 238, 147);
  /* --primary-color-dark: rgb(27, 57, 40); */

  --primary-color-dark: rgb(16, 107, 55);

  --button-color: rgb(214, 221, 221);
  --icon-color: rgb(252, 158, 0);
}