@font-face {
  font-family: 'MusicalTone';
  src: url('/fonts/MusicalTone.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* .image {
  width: 100px;
  height: auto;
} */


.text {
  
  color: var(--primary-color);
  font-size: 36px;
  font-weight: bold;
  font-family: var(--musical-tone-font);
  animation: blink 0.5s infinite alternate;
}

.image {
  margin-bottom: 20px
}


@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}