.container {
  display: flex;
  justify-content: space-around; /* Asegura que los elementos se separen */
  align-items: center; /* Alinea los elementos verticalmente */
  background-color: var(--menu-dark-color);
  padding: 10px 20px;
  /* border-bottom: 0.5em solid  var(--menu-bar-button-color); */
}

.logo {
  width: 6em;
  height: auto;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px; /* Espaciado entre los elementos */
}

.option {
  color: var(--menu-bar-button-color);
  font-family: var(--shockwave-2-font);
  font-size: 1.5em;
  cursor: pointer;
  border-bottom: 0.15em solid var(--menu-dark-color);
}

.option:hover {
  border-bottom: 0.15em solid var(--menu-bar-button-color);
}
